* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

header {
      padding: 16px 0;
      max-width: 100vw;
      font-family: Bangers, sans-serif;
      background-color: red;
      color: #fff;
}

.container {
      max-width: 1024px;
      width: 100%;
      margin: 0 auto;
}

header .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

h1, a {
      font-weight: normal;
}

ul {
      list-style: none;
}

ul li a {
      color: #fff;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      padding: 4px 0;
}

ul li img {
      max-width: 200px;
      margin: 0 25px;
      border: 1px solid red;
}

section {
      font-family: Sriracha, sans-serif;
      padding: 25px 0;
}

section ul {
      display: flex;
      text-align: center;
}

section button {
      background-color: #ffd000;
      width: 160px;
      font-family: Sriracha, sans-serif;
      font-size: 16px;
      border: 2px solid #000;
      font-weight: bold;
}

section .sobre{
      display: flex;
      justify-content: space-between;
      vertical-align: top;
}

section .sobre img {
      max-width: 400px;
      width: 100%;
      margin-right: 50px;
      border: 1px solid red;
}

h2 {
      font-family: Bangers, sans-serif;
      font-weight: normal;
      border-bottom: 2px solid red;
      margin-bottom: 16px;
      color: red;
}

@media screen and (max-width: 767px) {
      .container {
            margin: auto;
      }

      section {
            font-size: 1.5em;
      }

      section .sobre {
            display: block;
            text-align: center;
      }

      section ul {
            max-width: 90%;
            display: block;
            margin: auto;
      }
      
      section .sobre img {
            min-width: 80%;
            margin: auto;
      }

      section h2 {
            display: block;
            text-align: center;
      }

      section button {
            width: 10em;
            font-size: 1em;
            margin-bottom: 100px;
      }

      header div.container {
            flex-direction: column;
            font-size: 1.5em;
      }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
      .container {
            max-width: 90%;
            margin: auto;
      }

      section {
            font-size: 1.5em;
      }

      section .sobre {
            display: block;
            text-align: center;
      }
      
      section .sobre img {
            min-width: 100%;
      }

      section ul {
            display: grid;
            grid-template-columns: repeat(2, 49%);
            max-width: 90%;
            margin: auto;
      }

      section button {
            width: 10em;
            font-size: 1em;
            margin-bottom: 100px;
      }

      header div.container {
            font-size: 1.5em;
      }
}